h1{
    font-size: 2rem;
}

#certificatePreview{
    position: relative;
    background-color: blue;
    height: 200px;
    width: 200px;
    top:0;
}

@media print{
    @page { size: auto;  margin: 0mm; }
    .noPrint {display: none;}
}